@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.Header {
  margin-left: 28%;
  margin-top: 6rem;
  font-size: 1.5rem;
}